// #Colors
//=========================
$primary-color:#0B0D17;
$secondary-color:#D0D6F9;
$tertiary-color:#FFFFFF;


// #Typography
//=========================
$font-family-p:'Barlow Condensed', sans-serif;
$font-family-s:'Bellefair', serif;